.slides-navigation {
	z-index: 6;
}

.slides-navigation .prev,
.slides-navigation .next {
	width: 47px;
	height: 47px;
    background-size: cover;
    background-repeat: no-repeat;
}

.slides-navigation a.prev {
  left: 20px;
  background-image: url(../IMG/previous.svg);
}

.slides-navigation a.next {
  right: 20px;
  background-image: url(../IMG/next.svg);
}

.titleMessage {
	position: absolute;
    width: 100%;
    height: 140px;
    top: 50%;
    z-index: 5;
    text-align: center;
    margin-top: -70px;
    color: white;
}

.titleMessage .heading .main {
	color: #fff;
	text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
	font-weight: 100;
	letter-spacing: 7px;
	font-size: 72px;
}

.titleMessage .heading .sub {
	color: #fff;
	text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
	font-weight: 100;
	letter-spacing: 7px;
}